In [6]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('spam.csv', encoding='latin-1')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [10]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
4859,ham,"\Response\"" is one of d powerful weapon 2 occu...","always give response 2 who cares 4 U\""... Gud...",NaN,NaN
5379,ham,Somebody set up a website where you can play h...,NaN,NaN,NaN
1388,ham,Oh k.i think most of wi and nz players unsold.,NaN,NaN,NaN
3692,ham,I was about to do it when i texted. I finished...,NaN,NaN,NaN
2809,ham,Mm so you asked me not to call radio,NaN,NaN,NaN